@charset "UTF-8";
@import url("https://fonts.googleapis.com/earlyaccess/notosanskr.css");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, article, aside, hgroup, header, footer, figure, figcaption, nav, section { margin: 0; padding: 0; border: 0; vertical-align: baseline; background: transparent; box-sizing: border-box; font-weight: normal; }

article, aside, header, footer, figure, figcaption, nav, section, div, p, ul, ol, li, dl, dt, dd { display: block; }

body { padding: 0; margin: 0; box-sizing: border-box; word-break: break-all; -ms-word-break: break-all; font-family: 'Noto Sans KR', sans-serif; font-weight: normal; font-size: 16px; }

h1, h2, h3, h4, h5, h6 { font-weight: bold; }

ol, ul, li { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; }

table { border-collapse: collapse; border-spacing: 0; table-layout: fixed; width: 100%; }

button { margin: 0; padding: 0; border: 0; font: inherit; color: inherit; background: transparent; overflow: visible; cursor: pointer; line-height: 1; }

label { cursor: pointer; }

a { text-decoration: none; cursor: pointer; vertical-align: baseline; }

a:hover { text-decoration: none; cursor: pointer; }

legend, caption { display: none; }

img { border: 0; vertical-align: middle; }

address, i, em { font-style: normal; }

strong { color: #cf3232; }

/* form */
textarea { resize: vertical; font: inherit; overflow-y: auto; }

input, select, optgroup { margin: 0; padding: 0; color: inherit; font: inherit; vertical-align: middle; line-height: normal; }

button, select { text-transform: none; }

button, input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: none; cursor: pointer; }

button:disabled, input:disabled { cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

input[type='checkbox'], input[type="radio"] { padding: 0; box-sizing: border-box; cursor: pointer; }

input[type='number']::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; -webkit-appearance: none; }

input[type='search'] { -webkit-appearance: none; }

input[type='search']::-webkit-search-cancel-button, input[type='search']::-webkit-search-decoration { -webkit-appearance: none; }

input::-ms-clear { display: none; }

input[type='search']::-webkit-search-decoration, input[type='search']::-webkit-search-cancel-button, input[type='search']::-webkit-search-results-button, input[type='search']::-webkit-search-results-decoration { display: none; }

@font-face {}div { box-sizing: border-box; }

nav::-webkit-scrollbar, div::-webkit-scrollbar, ul::-webkit-scrollbar { width: 5px; }

nav::-webkit-scrollbar-thumb, div::-webkit-scrollbar-thumb, ul::-webkit-scrollbar-thumb { background: #aaa; }

nav::-webkit-scrollbar-track, div::-webkit-scrollbar-track, ul::-webkit-scrollbar-track { background: #ddd; }

.btn_menu { display: block; outline: 0; border: 0; padding: 0; overflow: hidden; width: 17px; height: 17px; cursor: pointer; }

.btn_menu .bars { display: block; position: relative; width: 17px; height: 17px; }

.btn_menu .bars .bar_line { display: block; position: absolute; left: 0; width: 100%; height: 2px; background-color: #cf3232; border-radius: 1px; }

.btn_menu .bars .bar_line.line1 { top: 0px; }

.btn_menu .bars .bar_line.line2 { top: 6px; }

.btn_menu .bars .bar_line.line3 { top: 12px; }

header.wrap_gnb { position: fixed; top: 0; right: 0; left: 0; z-index: 1000; min-width: 960px; font-size: 17px; }

header.wrap_gnb .gnbbar { position: relative; display: flex; flex-wrap: wrap; align-items: center; justify-content: space-between; padding: 10px 15px; background-color: #cf3232; }

header.wrap_gnb .gnbbar .brand { display: inline-block; height: 30px; padding-left: 72px; white-space: nowrap; line-height: 2; font-size: 0.941rem; color: #fff; background: url("https://dev-contents-image.twayair.com//backoffice/common/logo_w_s1.png") no-repeat 0 0; }

header.wrap_gnb .gnbbar .user { display: inline-block; box-sizing: border-box; justify-content: flex-end; margin-left: auto; text-align: right; font-size: 0.824rem; color: #fff; }

header.wrap_gnb .gnbbar .user strong { color: #fff; }

header.wrap_gnb .gnbbar .btn_menu { visibility: hidden; }

header.wrap_gnb .gnbbar .btn_menu .bar_line { background-color: #fff; }

header.wrap_gnb .gnbbar .form_btns { display: flex; align-items: center; }

header.wrap_gnb .gnbbar .form_btns .btn { background-color: #cf3232; border: 1px solid #fff; font-size: 14px; color: #fff; line-height: 1.2; padding: 5px 10px; }

header.wrap_gnb .gnbbar .form_btns .btn + .btn { margin-left: 5px; }

header.wrap_gnb .gnbbar .form_btns .btn.btn_white { background-color: #fff; color: #cf3232; }

header.wrap_gnb .gnb { display: block; box-sizing: border-box; position: relative; top: 0; left: 210px; width: calc(100% - 210px); word-break: break-all; -webkit-transition: all 0.4s linear; -moz-transition: all 0.4s linear; -ms-transition: all 0.4s linear; -o-transition: all 0.4s linear; transition: all 0.4s linear; }

header.wrap_gnb .gnb a { color: #333; }

header.wrap_gnb .gnb.scroll { overflow-y: scroll; }

header.wrap_gnb .gnb ul.lst_gnb { overflow: hidden; background-image: linear-gradient(to right, #cf3232 100%, white); background-position: 0 100%; background-size: 1px 1px; background-repeat: repeat-x; background-color: #fff; }

header.wrap_gnb .gnb ul.lst_gnb li.nav_item { float: left; text-align: center; min-height: 50px; box-sizing: border-box; font-weight: bold; }

header.wrap_gnb .gnb ul.lst_gnb li.nav_item:first-child:after { content: ""; display: block; position: absolute; top: 54px; left: 0; width: 100%; height: 1px; border-top: 1px solid #cf3232; }

header.wrap_gnb .gnb ul.lst_gnb li.nav_item:last-child { position: relative; }

header.wrap_gnb .gnb ul.lst_gnb li.nav_item:last-child:after { content: ""; display: block; position: absolute; top: 54px; left: 0; width: 2000px; height: 1px; border-top: 1px solid #cf3232; }

header.wrap_gnb .gnb ul.lst_gnb li.nav_item .depth1 { position: relative; overflow: hidden; border-bottom: 1px solid #cf3232; background-color: #fff; }

header.wrap_gnb .gnb ul.lst_gnb li.nav_item .depth1:before { content: ''; display: block; position: absolute; bottom: -14px; left: 50%; transform: translate(-50%, -50%); border-left: 9px solid transparent; border-right: 9px solid transparent; border-bottom: 9px solid #cf3232; -webkit-transition: all 0.1s linear; -moz-transition: all 0.1s linear; -ms-transition: all 0.1s linear; -o-transition: all 0.1s linear; transition: all 0.1s linear; }

header.wrap_gnb .gnb ul.lst_gnb li.nav_item .depth1 a { display: block; padding: 14px; min-height: 54px; white-space: nowrap; }

header.wrap_gnb .gnb ul.lst_gnb li.nav_item.active .depth1:before, header.wrap_gnb .gnb ul.lst_gnb li.nav_item:hover .depth1:before { bottom: -5px; }

header.wrap_gnb .gnb ul.lst_gnb li.nav_item.active .depth1 a, header.wrap_gnb .gnb ul.lst_gnb li.nav_item:hover .depth1 a { color: #cf3232; }

header.wrap_gnb .gnb ul.lst_gnb li.nav_item:last-child .dropdown { border-right: 0; }

header.wrap_gnb .gnb:hover ul.lst_gnb .dropdown { visibility: visible; margin: 13px 0; opacity: 1; }

header.wrap_gnb .gnb .dropdown { border-right: 1px solid #ccc; visibility: hidden; height: 0; -webkit-transition: all 0.2s ease-in; -moz-transition: all 0.2s ease-in; -ms-transition: all 0.2s ease-in; -o-transition: all 0.2s ease-in; transition: all 0.2s ease-in; opacity: 0; }

header.wrap_gnb .gnb .dropdown ul { box-sizing: border-box; width: 100%; padding: 10px; font-weight: normal; font-size: 0.824rem; }

header.wrap_gnb .gnb .dropdown li { margin-top: 5px; }

header.wrap_gnb .gnb .dropdown li .depth2 > a { display: block; border-radius: 5px; padding: 2px; -webkit-transition: all 0.1s linear; -moz-transition: all 0.1s linear; -ms-transition: all 0.1s linear; -o-transition: all 0.1s linear; transition: all 0.1s linear; }

header.wrap_gnb .gnb .dropdown li.on a, header.wrap_gnb .gnb .dropdown li:hover a { background: #cf3232; color: #fff; }

header.wrap_gnb .gnb .bx_dpth { display: none; }

.wrap_lnb { overflow: hidden; position: fixed; top: 50px; right: 0; left: 0; bottom: 0; z-index: 1000; width: 210px; background-color: #f6f6f6; border-right: 1px solid #ccc; font-size: 16px; -webkit-transition: all 0.4s linear; -moz-transition: all 0.4s linear; -ms-transition: all 0.4s linear; -o-transition: all 0.4s linear; transition: all 0.4s linear; }

.wrap_lnb .area_tit { background-color: #fff; height: 55px; padding: 20px; font-weight: bold; font-size: 18px; line-height: 1.2; border-bottom: 1px solid #cf3232; cursor: pointer; }

.wrap_lnb .area_tit .btn_menu { display: inline-block; vertical-align: middle; margin-right: 8px; }

.wrap_lnb > .lnb { position: absolute; top: 55px; left: 0; right: 0; bottom: 0; overflow-y: auto; }

.wrap_lnb > .lnb a { color: #333; display: block; }

.wrap_lnb > .lnb li.nav_item .depth1 { position: relative; }

.wrap_lnb > .lnb li.nav_item .depth1 a { padding: 8px 25px; }

.wrap_lnb > .lnb li.nav_item .depth1:before { content: "∙"; display: block; position: absolute; top: 50%; left: 15px; line-height: 1; color: #aaa; transform: translate(0, -50%); }

.wrap_lnb > .lnb li.nav_item .depth1:after { content: ""; display: block; position: absolute; top: 50%; right: 15px; line-height: 1; border-left: 6px solid transparent; border-right: 6px solid transparent; border-top: 6px solid #aaa; transform: translate(0, -50%); }

.wrap_lnb > .lnb li.nav_item dl { overflow: hidden; max-height: 0; font-size: 0.875rem; }

.wrap_lnb > .lnb li.nav_item dl dt { margin: 7px 0; font-weight: bold; }

.wrap_lnb > .lnb li.nav_item dl dt a { padding: 3px 25px; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -ms-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; }

.wrap_lnb > .lnb li.nav_item dl dt.on a { background-color: #7ba34c; color: #fff; }

.wrap_lnb > .lnb li.nav_item dl dd { position: relative; margin: 3px 0; }

.wrap_lnb > .lnb li.nav_item dl dd:before { content: "∟"; display: block; position: absolute; top: 50%; left: 30px; line-height: 1; font-size: 10px; color: #ccc; transform: translate(0, -60%); }

.wrap_lnb > .lnb li.nav_item dl dd a { padding: 2px 20px 2px 40px; }

.wrap_lnb > .lnb li.nav_item dl dd.on a, .wrap_lnb > .lnb li.nav_item dl dd:hover a { font-weight: bold; }

.wrap_lnb > .lnb li.nav_item dl dd:last-child { margin: 3px 0 8px 0; }

.wrap_lnb > .lnb li.nav_item.active { background-color: #fff; border-top: 1px solid #7ba34c; border-bottom: 1px solid #7ba34c; }

.wrap_lnb > .lnb li.nav_item.active .depth1 { font-weight: bold; }

.wrap_lnb > .lnb li.nav_item.active .depth1:before { color: #7ba34c; }

.wrap_lnb > .lnb li.nav_item.active .depth1:after { border-bottom: 6px solid #7ba34c; border-top: 0; }

.wrap_lnb > .lnb li.nav_item.active dl { max-height: 500px; -webkit-transition: all 0.7s ease-in; -moz-transition: all 0.7s ease-in; -ms-transition: all 0.7s ease-in; -o-transition: all 0.7s ease-in; transition: all 0.7s ease-in; }

.wrap_lnb > .lnb li.nav_item.active:first-child { border-top: 0; }

.container { min-width: 960px; }

.contents { position: relative; left: 210px; display: block; max-width: 100%; width: calc(100% - 210px); padding: 36px; font-size: 14px; -webkit-transition: all 0.4s linear; -moz-transition: all 0.4s linear; -ms-transition: all 0.4s linear; -o-transition: all 0.4s linear; transition: all 0.4s linear; }

.contents a { color: #333; }

.tit_area { overflow: hidden; }

.tit_area .tit_point { float: left; }

.tit_area .nav_history { margin-top: 10px; float: right; }

.aside_nav { float: left; width: 240px; padding: 40px 10px 0 0; }

.aside_nav + .cnt_area { float: left; margin: 0; width: calc(100% - 240px); padding-left: 40px; clear: none; }

.aside_nav + .cnt_area .iframe_cnt { width: 100%; }

.cnt_area { clear: both; margin-top: -16px; }

.cnt_area section { margin-top: 40px; }

.cnt_area section.list { margin-top: 80px; }

.subtit_area { overflow: hidden; margin-bottom: 10px; }

.subtit_area h3 { margin-top: 10px; }

.cnt_info { border-top: 1px solid #888; border-bottom: 1px solid #888; padding: 10px; }

@media (max-width: 1200px) { header.wrap_gnb { position: relative; top: 0; right: 0; left: 0; z-index: 1000; font-size: 17px; }
  header.wrap_gnb .gnbbar .btn_menu { visibility: visible; margin: 0 10px; }
  header.wrap_gnb .gnb { left: 0; width: 100%; }
  header.wrap_gnb .gnb_fold { box-sizing: border-box; position: relative; top: 0; left: 0; width: 100%; overflow: hidden; word-break: break-all; border-bottom: 1px solid #cf3232; background-color: #f6f6f6; }
  header.wrap_gnb .gnb_fold a { color: #333; }
  header.wrap_gnb .gnb_fold li.nav_item a { display: block; }
  header.wrap_gnb .gnb_fold li.nav_item .depth1 { position: relative; }
  header.wrap_gnb .gnb_fold li.nav_item .depth1 a { padding: 8px 25px; }
  header.wrap_gnb .gnb_fold li.nav_item .depth1:before { content: "∙"; display: block; position: absolute; top: 50%; left: 15px; line-height: 1; transform: translate(0, -50%); color: #aaa; }
  header.wrap_gnb .gnb_fold li.nav_item .depth1:after { content: ""; display: block; position: absolute; top: 50%; right: 15px; line-height: 1; transform: translate(0, -50%); border-left: 6px solid transparent; border-right: 6px solid transparent; border-top: 6px solid #aaa; }
  header.wrap_gnb .gnb_fold li.nav_item .dropdown { overflow: hidden; max-height: 0; font-size: 0.875rem; background-color: #fff; }
  header.wrap_gnb .gnb_fold li.nav_item .dropdown li { position: relative; }
  header.wrap_gnb .gnb_fold li.nav_item .dropdown li .depth2 { box-sizing: border-box; }
  header.wrap_gnb .gnb_fold li.nav_item .dropdown li .depth2 a { padding: 5px 20px; font-weight: bold; }
  header.wrap_gnb .gnb_fold li.nav_item .dropdown li.on .depth2 a { background-color: #7ba34c; color: #fff; -webkit-transition: all 0.4s linear; -moz-transition: all 0.4s linear; -ms-transition: all 0.4s linear; -o-transition: all 0.4s linear; transition: all 0.4s linear; }
  header.wrap_gnb .gnb_fold li.nav_item.active .depth1 { font-weight: bold; background-color: #fff; }
  header.wrap_gnb .gnb_fold li.nav_item.active .depth1 a { color: #7ba34c; }
  header.wrap_gnb .gnb_fold li.nav_item.active .depth1:before { color: #7ba34c; }
  header.wrap_gnb .gnb_fold li.nav_item.active .depth1:after { border-bottom: 6px solid #7ba34c; border-top: 0; }
  header.wrap_gnb .gnb_fold li.nav_item.active .dropdown { max-height: 1000px; -webkit-transition: max-height 0.7s ease-in; -moz-transition: max-height 0.7s ease-in; -ms-transition: max-height 0.7s ease-in; -o-transition: max-height 0.7s ease-in; transition: max-height 0.7s ease-in; }
  header.wrap_gnb .gnb_fold li.nav_item.active .dropdown ul { padding-bottom: 10px; border-bottom: 1px solid #7ba34c; }
  header.wrap_gnb .gnb_fold li.nav_item:last-child .dropdown ul { border-bottom: 0; }
  header.wrap_gnb .gnb_fold .bx_dpth { display: block; }
  header.wrap_gnb .gnb_fold .bx_dpth .depth3 { position: relative; }
  header.wrap_gnb .gnb_fold .bx_dpth .depth3:before { content: "∟"; display: block; position: absolute; top: 50%; left: 35px; line-height: 1; font-size: 10px; color: #ccc; transform: translate(0, -60%); }
  header.wrap_gnb .gnb_fold .bx_dpth .depth3 a { padding: 5px 20px 5px 50px; }
  header.wrap_gnb .gnb_fold .bx_dpth .depth3.on a { font-weight: bold; }
  .wrap_lnb { left: -210px; }
  .container .contents { left: 0; width: 100%; } }

@media (max-width: 1200px) { .container .contents { left: 0; width: 100%; padding: 10px; } }

.far_contents li { float: left; margin-right: 10px; }

/* Tab */
ul.tabs, ul.tabmenu, ul.subtabmenu { margin: 0px; padding: 0px; list-style: none; }

ul.tabs li, ul.tabmenu li, ul.subtabmenu li { display: inline-block; /*height:40px;*/ padding: 0px 10px; background-color: #f6f6f6; border: 1px solid #ccc; border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-left-radius: 0px; border-bottom-right-radius: 0px; cursor: pointer; text-align: center; line-height: 37px; font-size: 16px; color: #555; }

ul.tabs li.current, ul.tabmenu li.current, ul.subtabmenu li.current { background-color: #fff; border-bottom: 1px solid #fff; color: #333; }

ul.tabs a, ul.tabmenu a, ul.subtabmenu a { display: inline-block; vertical-align: middle; line-height: 24px; padding: 10px 0; color: #333; }

ul.tabs a:hover, ul.tabs a:active, ul.tabs a:focus, ul.tabmenu a:hover, ul.tabmenu a:active, ul.tabmenu a:focus, ul.subtabmenu a:hover, ul.subtabmenu a:active, ul.subtabmenu a:focus { color: #333 !important; border-radius: 5px; }

ul.tabmenu li:nth-child(1):nth-last-child(2), ul.tabmenu li:nth-child(1):nth-last-child(2) ~ li { width: 49.5% !important; margin-right: 0 !important; }

ul.tabmenu li:nth-child(1):nth-last-child(2) ~ li { margin-left: 0.5% !important; }

.tab-content, .tabcontent, .subtabcontent { display: none; padding: 20px; font-size: 14px; color: #555; margin-top: -1px; }

.tab-content p, .tabcontent p, .subtabcontent p { margin-bottom: 10px; }

.tab-content .result_area, .tabcontent .result_area, .subtabcontent .result_area { width: 100%; margin-top: 10px; }

.tab-content.current, .tabcontent.current, .subtabcontent.current { display: inherit; border: 1px solid #ccc; }

.subtabmenu { margin-top: 30px; }

.subtabmenu li { min-width: 117px; font-size: 16px; margin-top: 10px; }

.tabcontent.current, .subtabcontent.current { display: block; }

.tab.list { height: 330px; }

.tab.list ul { position: relative; margin: 0; padding: 0; list-style: none; font-size: 16px; *zoom: 1; }

.tab.list ul:after { content: ""; display: block; clear: both; }

.tab.list ul li { float: left; margin-top: 4px; margin-right: 4px; }

.tab.list li a.tabmenu { position: relative; float: left; width: 137.2px; text-decoration: none; color: #404040; text-align: center; border: 1px solid #7ca54d; border-radius: 3px; box-sizing: border-box; }

.tab.list li a.tabmenu span { display: inline-block; line-height: 35px; letter-spacing: -1px; cursor: pointer; }

.tab.list li ul { position: absolute; top: 70px; left: 0; list-style: none; width: 100%; border: 0; margin: 0; padding: 0; *zoom: 1; }

.tab.list li ul:after { content: ""; display: block; clear: both; }

.tab.list li li a.tabmenu { float: none; padding: 0; margin: 0; border: 0 !important; color: #555 !important; font-weight: normal; background: transparent; letter-spacing: normal; }

.tab.list li li a.tabmenu:hover, .tab.list li li a.tabmenu:active, .tab.list li li a.tabmenu:focus { background: #7ca54d; color: #fff !important; text-decoration: underline; }

.tab.list ul li.active a.tabmenu { background: #7ca54d; border-radius: 3px; color: #fff; }

.tab.list li.disable a.tabmenu { background: #ccc; color: #918d8d; border: 1px solid #ccc; }

.tab.list ul li.common_editor_pc { float: left; width: 62.5%; margin-right: 0px; }

.tab.list ul li.common_editor_mobile { width: 36%; float: left; margin-left: 0.5%; margin-right: 0px; }

.tab.list .all_apply_btn, .tab.list .copy_btn { float: right; width: 70px; height: 30px; font-size: 14px; color: #fff; background: #222; margin-left: 4px; }

.tab.list .copy_btn { background: #fff; border: 1px solid #ccc; color: #555; box-sizing: border-box; }

.tab.list .editor_area { height: 200px; margin-top: 35px; text-align: center; background: #ccc; }

/* Tab */
/*.tabmenu, .subtabmenu {
	list-style:none;
	margin:0;
	padding:0;
	overflow:hidden;
	li {
		float:left;
		margin:0 2px;
		font-size:16px;
		color:$darkgray;
		font-weight:500;
		text-align:center;
		border-radius:5px;
		box-sizing:border-box;
		a {
			display:inline-block;
			width:100%;
			padding:10px 0;
			color:#202020;
			border:1px solid #7ca54d;
			border-radius:5px;
			box-sizing:border-box;
		}
		a:hover, a:active, a:focus{
			background:#7ca54d; 
			color:#fff !important; 
			border-radius:5px;
		}
	}
	li.current a{
		background:#7ca54d; 
		color:#fff !important; 
	}
	li.graytab{
		a{
			border:1px solid #4b4b4b;
		}
		a:hover, a:active, a:focus{
			background:#4b4b4b;
		}
	}
	li.current.graytab a{
		background:#4b4b4b; 
	}
}
.tabmenu.tabmenu_w li{
	width:137.2px;
}

ul.tabs{
  margin:0px;
  padding:0px;
  list-style:none;
  li{
  	display:inline-block;
  	height:40px;
 	padding:0px 10px;
 	background-color:$whitegray;
	border:1px solid $ligntgray;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
  	cursor:pointer;
  	font-size:16px;
	color:$darkgray;
	line-height:37px;
	}
	li.current{
		background-color:#fff;
		border-bottom:1px solid #fff;
	  	color:#333;
	}
	a:hover, a:active, a:focus{
		color:#444 !important; 
		border-radius:5px;
	}
}
.tab-content{
		display:none;
		padding:20px;
		font-size:14px;
		color:$darkgray; 
		margin-top:-1px;
	p{
		margin-bottom:10px;
	}
	.result_area{
		width:100%; 
		margin-top:10px;}
}
.tab-content.current{
  display:inherit;
  border:1px solid $ligntgray;
}

.subtabmenu {
	margin-top:30px;
	li {
		min-width:120px;
		font-size:16px;
		margin-top:10px;
	}
}
.tabcontent, .subtabcontent {
	display:none;
	margin-top:40px;
}
.tabcontent.current, .subtabcontent.current {
	display:block;
}

.tab.list{
	height:330px;
	ul{
		position:relative;
		margin:0;
		padding:0;
		list-style:none;
		font-size:16px;
		*zoom:1;
	}
	ul:after{
		content:"";
		display:block;
		clear:both;
	}
	ul li{
		float:left;
		margin-top:4px;
		margin-right:4px;
	}
	li a.tabmenu{position:relative; float:left; width:137.2px; text-decoration:none; color:#404040; text-align:center; border:1px solid #7ca54d; border-radius:3px; box-sizing:border-box;}
	li a.tabmenu span{display:inline-block; line-height:35px; letter-spacing:-1px; cursor:pointer}
	li ul{width:100%;position:absolute; top:70px; left:0; list-style:none;border:0;margin:0;padding:0;*zoom:1}
	li ul:after{content:"";display:block;clear:both}
	li li a.tabmenu{float:none;padding:0;margin:0;border:0 !important;color:$darkgray !important;font-weight:normal;background:transparent;letter-spacing:normal}
	li li a.tabmenu:hover, li li a.tabmenu:active, li li a.tabmenu:focus{background:#7ca54d; color:#fff !important; text-decoration:underline}
	ul li.active a.tabmenu{background:#7ca54d; border-radius:3px; color:#fff;}
	li.disable a.tabmenu{background:$ligntgray; color:#918d8d; border:1px solid $ligntgray;}
	ul li.common_editor_pc{width:62.5%; float:left; margin-right:0px;}
	ul li.common_editor_mobile{width:36%; float:left;  margin-left:0.5%; margin-right:0px; }
	.all_apply_btn, .copy_btn{
		float:right; width:70px;
		height:30px; font-size:14px;
		color:#fff; 
		background:#222;
		margin-left:4px;
	}
	.copy_btn{
		background:#fff;
		border:1px solid $ligntgray;
		color:$darkgray;
		box-sizing:border-box;
	}
	.editor_area{
		height:200px;
		background:$ligntgray;
		margin-top:35px;
		text-align:center;
	}
}*/
.pre_info li { float: left; font-size: 16px; }

.pre_info li:first-child:after { content: '/'; color: #2935ca; padding: 0 5px; }

.pre_info li a { text-decoration: none; color: #2935ca; font-weight: 500; padding-bottom: 1px; border-bottom: 1px solid #2935ca; }

.tbl_info { overflow: hidden; margin: 12px 0; }

.tbl_info .select_info { line-height: 40px; margin-left: 10px; }

.tbl_info .btn_file { margin: 5px 4px; }

.btns { overflow: hidden; padding: 20px 0; }

.btns .btn + .btn { margin-left: 10px; }

.popup_area .popup_tit { width: 100%; padding: 14px 40px; background: #cf3232; position: relative; }

.popup_area .popup_tit:before { content: ""; display: inline-block; position: absolute; top: 19px; left: 40px; width: 4px; height: 18px; margin-right: 14px; background: #fff; }

.popup_area .popup_tit h1 { padding-left: 12px; font-size: 18px; color: #fff; }

.popup_area .popup_cnt { padding: 0 38px; }

.popup_area .popup_cnt section { margin-top: 30px; }

.popup_area .tag { display: inline-block; padding: 2px 4px; margin-top: 12px; font-size: 12px; background: #ccc; }

.popup_info table.tbl input { width: 100px; text-align: center; }

.popup_info table.tbl th { font-size: 15px; background-color: #f6f6f6; border-bottom: 1px solid #ccc; }

.row:first-of-type, .row-btn { width: 100%; }

.row:first-of-type .btn.btn-block, .row:first-of-type .btn-up, .row:first-of-type .btn-down, .row-btn .btn.btn-block, .row-btn .btn-up, .row-btn .btn-down { display: block; width: 100%; padding: 8px 0; background: #ccc; margin: 5px auto; text-align: center; white-space: nowrap; line-height: 1.2; font-size: 14px; font-weight: 400; border: none; border-radius: 3px; box-sizing: border-box; vertical-align: middle; }

.row:first-of-type .btn-up, .row:first-of-type .btn-down, .row-btn .btn-up, .row-btn .btn-down { width: 48%; height: 34px; margin: 0 1%; border: none; }

.col-sm-5, .col-sm-2, .row-btn button { float: left; }

.col-sm-5 { width: 38%; }

.col-sm-5 input[type=text] { margin: -1px 0 -3px 0; vertical-align: middle; }

.col-sm-5 input[type=text], .col-sm-5 input[type=password] { width: 192px; border: 1px solid #c5c7cb; padding: 4px 0px 4px 6px; padding: 0.1rem 0rem 0.2rem 0.6rem; }

.col-sm-5 select[multiple], .col-sm-5 select[size] { height: auto; }

.col-sm-2 { width: 20%; padding: 0 2%; }

.form-control { display: block; width: 100%; height: 34px; padding: 6px 12px; font-size: 14px; line-height: 1.42857143; color: #555; background-color: #fff; background-image: none; border: 1px solid #ccc; border-radius: 4px; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s; -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; }

.form-control option { font-weight: normal; display: block; white-space: pre; min-height: 1.2em; padding: 0px 2px 1px; }

.contens_rt { position: absolute; top: 57px; left: 400px; margin-right: 50px; }

.menu_tb thead th { text-align: center; padding-right: 12px; }

.menu_tb .depth { width: 100%; border-top: 1px solid #e5e5e5; float: left; }

.menu_tb .depth:last-of-type { border-bottom: 0; }

.menu_tb .depth a { float: left; display: inline-block; width: 40%; margin-top: 5px; padding: 10px 12px; color: #333 !important; text-decoration: none !important; box-sizing: border-box; position: relative; }

.menu_tb .depth a:hover, .menu_tb .depth a:active, .menu_tb .depth a:focus { font-weight: 500; }

.menu_tb .depth a:before { content: ""; display: block; position: absolute; top: 50%; left: 13px; line-height: 1; border-top: 0; transform: translate(0, -50%); border-left: 6px solid transparent; border-right: 6px solid transparent; border-top: 6px solid #333; }

.menu_tb .depth a.on:before { content: ""; display: block; position: absolute; top: 14px; left: 22px; line-height: 1; transform: translate(-50%, 0); border-bottom: 6px solid transparent; border-top: 6px solid transparent; border-left: 6px solid #333; border-right: 0; }

.menu_tb .depth ul { display: table; width: 60%; }

.menu_tb .depth ul li { display: table-cell; width: 10%; text-align: center; padding: 10px 12px; }

.menu_tb .depth ul li > .chk + .lbl_chk { padding-left: 16px; }

.menu_tb .depth ul li:nth-of-type(1) { width: 20%; }

.menu_tb .depth.depth_all { border-top: none; }

.menu_tb .depth.depth_all a { padding-left: 33px; }

.menu_tb .depth.depth_01 a { padding-left: 53px; }

.menu_tb .depth.depth_01 a:before { left: 32px; }

.menu_tb .depth.depth_01 a.on:before { left: 40px; }

.menu_tb .depth.depth_02 a { padding-left: 70px; }

.menu_tb .depth.depth_02 a:before { left: 50px; }

.menu_tb .depth.depth_02 a.on:before { left: 57px; }

.menu_tb .depth.depth_03 { display: none; }

.menu_tb .depth.depth_03 a { padding-left: 72px; color: #555; font-size: 13px; }

.menu_tb .depth.depth_03 a:before { display: none !important; }

.blind { display: block; position: absolute; top: -2000em; left: -2000em; text-indent: -2000em; width: 0; height: 0; font-size: 0; }

.ipt { box-sizing: border-box; vertical-align: middle; border: 1px solid #ccc; padding: 2px 8px; color: #333; font-weight: 400; display: inline-block; }

.ipt + img { margin-top: 1px; margin-left: 3px; }

.ipt:hover { border: 1px solid #296dca; }

.ipt:active { border: 1px solid #528def; }

.ipt::-webkit-input-placeholder { color: #888; }

.ipt.nor::-ms-input-placeholder { color: #888; }

.ipt.size_big { height: 40px; font-size: 16px; }

.ipt.size_nor { height: 36px; font-size: 14px; }

.ipt.size_sml { height: 30px; font-size: 13px; }

.ipt.err { border: 1px solid #cf3232; }

.ipt.err:active { border: 1px #555 solid; }

.ipt.err::-webkit-input-placeholder { color: #cf3232; }

.ipt.err::-ms-input-placeholder { color: #cf3232; }

.ipt:disabled { background-color: #f6f6f6; }

.ipt:disabled::-webkit-input-placeholder { color: #888; }

.ipt:disabled::-ms-input-placeholder { color: #888; }

.ipt.suc { border: 1px #7ba34c solid; }

.ipt.suc::-webkit-input-placeholder { color: #7ba34c; font-weight: 500; }

.ipt.suc::-ms-input-placeholder { color: #7ba34c; font-weight: 500; }

.lable { vertical-align: middle; color: #333; }

.lable + .ipt { margin-left: 5px; }

.msg { color: #cf3232; font-size: 13px; padding: 5px 0; display: inline-block; margin-left: 10px; }

.msg:before { content: "!"; display: inline-block; width: 17px; height: 17px; text-align: center; border-radius: 8px; vertical-align: middle; background-color: #cf3232; line-height: 17px; font-size: 13px; color: #fff; margin-right: 6px; }

a + .btn_file { margin-left: 10px; }

.btn { box-sizing: border-box; vertical-align: middle; border: 1px solid #ccc; padding: 0 10px; }

.btn:hover { background-color: #f4f4f4; }

.btn.size_big { height: 40px; min-width: 152px; padding: 0 10px; font-size: 17px; font-weight: 400; }

.btn.size_nor { height: 36px; min-width: 96px; padding: 0 10px; font-size: 16px; font-weight: 300; }

.btn.size_sml { height: 30px; min-width: 96px; padding: 0 10px; font-size: 16px; font-weight: 300; }

.btn.btn_red { background-color: #cf3232; border: 1px solid #cf3232; color: #fff; }

.btn.btn_red:hover { background-color: #be2026; border: 1px solid #be2026; }

.btn.btn_grn { background-color: #7ba34c; border: 1px solid #7ba34c; color: #fff; }

.btn.btn_grn:hover { background-color: #577a2e; border: 1px solid #577a2e; }

.btn.btn_blk { background-color: #333; border: 1px solid #333; color: #fff; }

.btn.btn_blk:hover { background-color: #000; border: 1px solid #000; }

.btn.btn_gry { background-color: #555; border: 1px solid #555; color: #fff; }

.btn.btn_gry:hover { background-color: #424242; border: 1px solid #424242; }

.btn.btn_lgry { background-color: #f6f6f6; border: 1px solid #f6f6f6; color: #333; }

.btn.btn_lgry:hover { background-color: #eee; border: 1px solid #eee; }

.btn.lin_grn { border: 1px #7ba34c solid; color: #7ba34c; }

.btn.lin_grn:hover { background-color: #f4f4f4; border: 1px solid #577a2e; }

.btn.lin_red { border: 1px #cf3232 solid; color: #cf3232; }

.btn.lin_red:hover { background-color: #f4f4f4; border: 1px solid #be2026; }

.btn.btn_file { height: 30px; font-size: 13px; border: 1px #555 solid; }

.btn.btn_file:hover { border: 1px #555 solid; }

textarea { width: 100%; min-height: 200px; padding: 10px 12px; background-color: #fff; border: 1px solid #ccc; box-sizing: border-box; color: #333; font-weight: 400; font-size: 13px; }

textarea:disabled { background-color: #f6f6f6; }

textarea:disabled::-webkit-input-placeholder { color: #888; }

textarea:disabled::-ms-input-placeholder { color: #888; }

::-webkit-input-placeholder::after { display: inline-block; content: "두번째 줄 \A 세번째 줄\A 마지막 줄"; }

::-moz-placeholder { /* Firefox 19+ */ display: inline-block; content: "두번째 줄 \A 세번째 줄\A 마지막 줄"; }

:-ms-input-placeholder { display: inline-block; content: "두번째 줄 \A 세번째 줄\A 마지막 줄"; }

:-moz-placeholder { /* Firefox 18- */ display: inline-block; content: "두번째 줄 \A 세번째aaa 줄\A 마지막 줄"; }

.paging { display: inline-block; overflow: hidden; vertical-align: middle; border: 1px solid #ccc; border-radius: 5px; }

.paging a { float: left; box-sizing: border-box; height: 22px; padding: 3px 8px; font-size: 13px; line-height: 1.2; color: #333; border-left: 1px solid #ccc; }

.paging a:first-child { border-left: 0; }

.paging strong { float: left; box-sizing: border-box; height: 22px; padding: 3px 8px; font-size: 13px; line-height: 1.2; color: #333; border-left: 1px solid #ccc; background-color: #ccc; }

.paging .prev, .paging .next { font-size: 17px; line-height: 0.8; color: #ccc; }

h2 { position: relative; padding-top: 5px; font-size: 24px; color: #333; }

h2.tit_point:before { content: ""; display: block; position: absolute; top: 0; left: 0; width: 24px; height: 4px; background-color: #cf3232; }

h3 { color: #555; display: inline-block; margin-right: 15px; }

.txt_info { display: inline-block; font-size: 13px; margin: 9px 10px 0 0; }

.txt_info strong { color: #cf3232; }

.nav_history a { color: #333; }

.nav_history span:before { content: ""; border: solid #ccc; border-width: 0 1px 1px 0; display: inline-block; padding: 4px; margin: 0 10px 0 5px; transform: rotate(-45deg); -webkit-transform: rotate(-45deg); }

.nav_history span:first-child:before { display: none; margin: 0; }

.wrap_bundle { flex-wrap: wrap; display: flex; }

.wrap_bundle .bx_bundle { padding-bottom: 10px; display: flex; flex-grow: 1; flex-direction: column; }

.wrap_bundle .bx_bundle.custom { position: relative; padding-right: 30px; }

.wrap_bundle .bx_bundle.custom .btns_move { position: absolute; top: 35px; right: 0; }

.wrap_bundle .bx_bundle .select_mul { margin-top: 5px; }

.wrap_bundle .btns_bundle { display: flex; flex-direction: column; justify-content: center; margin: 0 30px; }

.wrap_bundle .btns_bundle .btn { margin: 2px 0; }

.wrap_bundle .btns_move { display: flex; flex-direction: column; width: 30px; }

.wrap_bundle .btns_move .btn_up { height: 100px; position: relative; border: 1px solid #ccc; }

.wrap_bundle .btns_move .btn_up:before { content: ""; display: block; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); border-left: 8px solid transparent; border-right: 8px solid transparent; border-bottom: 10px solid #555; }

.wrap_bundle .btns_move .btn_up span { position: absolute; top: -2000em; left: -2000em; text-indent: -2000em; width: 0; height: 0; font-size: 0; }

.wrap_bundle .btns_move .btn_up:hover { background-color: #f6f6f6; }

.wrap_bundle .btns_move .btn_down { height: 100px; position: relative; border: 1px solid #ccc; }

.wrap_bundle .btns_move .btn_down:before { content: ""; display: block; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); border-left: 8px solid transparent; border-right: 8px solid transparent; border-top: 10px solid #555; }

.wrap_bundle .btns_move .btn_down span { position: absolute; top: -2000em; left: -2000em; text-indent: -2000em; width: 0; height: 0; font-size: 0; }

.wrap_bundle .btns_move .btn_down:hover { background-color: #f6f6f6; }

.select_mul { box-sizing: border-box; border: 1px #ccc solid; min-width: 330px; min-height: 200px; }

.tbl thead th { height: 48px; text-align: center; font-size: 15px; color: #333; border-top: 1px solid #888; border-bottom: 1px solid #888; background-color: #f6f6f6; }

.tbl tbody tr:hover { background-color: #f6f6f6; cursor: pointer; }

.tbl tbody th { border-top: 1px solid #888; border-bottom: 1px solid #ccc; background-color: #f6f6f6; }

.tbl tbody td { height: 38px; padding: 5px 0; text-align: center; font-size: 14px; color: #333; line-height: 1.5; border-bottom: 1px solid #ccc; }

.tbl tbody td .ipt.size_sml { width: 96%; }

.tbl tbody td a, .tbl tbody td a:hover, .tbl tbody td a:active, .tbl tbody td a:focus { padding-bottom: 0.1em; color: #2935ca; border-bottom: 1px solid #2935ca; }

.tbl.nonfocus tbody tr:hover { background-color: transparent; cursor: default; }

.info_list { width: 100%; }

.info_list tr { border-bottom: 1px solid #e5e5e5; }

.info_list tr th, .info_list tr td { text-align: left; vertical-align: middle; padding: 10px 0 10px 12px; word-break: keep-all; }

.info_list tr th { font-size: 16px; font-weight: 500; background-color: #f6f6f6; }

.info_list th strong { color: #cf3232; }

.info_list td a, .info_list td a:hover, .info_list td a:active, .info_list td a:focus { text-decoration: underline; color: #2935ca; }

.info_list .info_txt { font-size: 12px; color: #cf3232; }

.rtbl { display: flex; flex-wrap: wrap; border-top: 1px solid #e5e5e5; border-left: 1px solid #e5e5e5; }

.rtbl .rtbl_cell { box-sizing: border-box; flex-grow: 1; width: 100%; padding: 10px 5px; overflow: hidden; text-align: center; border-bottom: 1px solid #e5e5e5; border-right: 1px solid #e5e5e5; }

.rtbl .rtbl_cell.cell_head { background: #f6f6f6; font-size: 16px; font-weight: 500; }

.rtbl.cols2 .rtbl_cell { width: 50%; }

.rtbl.cols3 .rtbl_cell { width: 33.33%; }

.rtbl.cols4 .rtbl_cell { width: 25%; }

.rtbl.cols5 .rtbl_cell { width: 20%; }

.rtbl.cols5 .rtbl_cell.in_col2 { width: 10%; }

.rtbl.cols6 .rtbl_cell { width: 16.6%; }

.rtbl.cols7 .rtbl_cell { width: 14.2%; }

.rtbl .odr0 { order: 0; }

.rtbl .odr1 { order: 1; }

.rtbl .odr2 { order: 2; }

.rtbl .odr3 { order: 3; }

.rtbl .odr4 { order: 4; }

.rtbl .odr5 { order: 5; }

.rtbl .odr6 { order: 6; }

.rtbl .odr7 { order: 7; }

.rtbl .odr8 { order: 8; }

.rtbl .odr9 { order: 9; }

.rtbl .odr10 { order: 10; }

@media (max-width: 1100px) { .rtbl .rtbl_cell { width: calc(100% - 146px) !important; text-align: left; padding-left: 15px; order: 0; }
  .rtbl .rtbl_cell.cell_head { width: 146px !important; text-align: left; padding-left: 15px; }
  .rtbl .rtbl_cell.cell_foot { position: relative; overflow: visible; }
  .rtbl .rtbl_cell.cell_foot:last-child:after { display: none; }
  .rtbl .rtbl_cell.cell_foot:after { content: ""; display: block; width: calc(100% + 146px); position: absolute; bottom: -1px; left: -146px; border-top: 1px solid #888; } }

.select { box-sizing: border-box; border: 1px solid #ccc; width: 150px; }

.select.size_big { height: 40px; font-size: 16px; }

.select.size_nor { height: 36px; font-size: 14px; }

.select.size_sml { height: 30px; font-size: 13px; }

.select:disabled { background-color: #f6f6f6; color: #888; }

.lbl_units { margin-left: 0; }

.lbl_units .lbl_chk, .lbl_units .lbl_rdio { margin: 0 50px 5px 0; }

.lbl_units .lbl_unit { display: inline-block; }

.lbl_units .lbl_unit .lbl_chk, .lbl_units .lbl_unit .lbl_rdio { margin: 0 0 5px 0; }

.lbl_units .lbl_unit .lbl_chk + .ipt, .lbl_units .lbl_unit .lbl_rdio + .ipt { margin: 0 50px 5px -40px; }

.lbl_units .lbl_unit .lbl_chk + .radio, .lbl_units .lbl_unit .lbl_rdio + .radio { margin: 0 50px 5px -40px; }

.lbl_wrap { overflow: hidden; width: 100%; position: relative; }

.lbl_wrap .lbl_all { position: absolute; width: 114px; }

.lbl_wrap .lbl_units { margin-left: 114px; }

.lbl_wrap .lbl_units .lbl_chk { margin: 0 50px 5px 0; }

.tbl .lbl_units { margin-left: 0; }

.tbl .lbl_units .lbl_chk, .tbl .lbl_units .lbl_rdio { margin: 0 10px 5px 0; }

.tbl .lbl_units .lbl_unit { display: inline-block; }

.tbl .lbl_units .lbl_unit .lbl_chk, .tbl .lbl_units .lbl_unit .lbl_rdio { margin: 0 0 5px 0; }

.tbl .lbl_units .lbl_unit .lbl_chk + .ipt, .tbl .lbl_units .lbl_unit .lbl_rdio + .ipt { margin: 0 10px 5px 0px; }

.tbl .lbl_units .lbl_unit .lbl_chk + .radio, .tbl .lbl_units .lbl_unit .lbl_rdio + .radio { margin: 0 10px 5px 0px; }

.chk { opacity: 0; margin-left: -13px; }

.chk + .lbl_chk { padding-left: 24px; font-size: 15px; display: inline-block; word-break: keep-all; min-height: 30px; padding-top: 3px; box-sizing: border-box; vertical-align: middle; background: url("https://dev-contents-image.twayair.com//backoffice/common/ico_chk.gif") no-repeat 0px 50%; }

.chk:checked + .lbl_chk { background: url("https://dev-contents-image.twayair.com//backoffice/common/ico_chk_on.gif") no-repeat 0px 50%; }

.chk:disabled + .lbl_chk { background: url("https://dev-contents-image.twayair.com//backoffice/common/ico_chk_dis.gif") no-repeat 0px 50%; color: #888; }

.chk:disabled:checked + .lbl_chk, .chk:disabled.checked + .lbl_chk { background: url("https://dev-contents-image.twayair.com//backoffice/common/ico_chk_on_dis.gif") no-repeat 0px 50%; }

.radio { display: none; }

.radio + .lbl_rdio { padding-left: 24px; background: url("https://dev-contents-image.twayair.com//backoffice/common/ico_radio.png") no-repeat 0px 50%; }

.radio:checked + .lbl_rdio, .radio.checked + .lbl_rdio { background: url("https://dev-contents-image.twayair.com//backoffice/common/ico_radio_on.png") no-repeat 0px 50%; }

.radio:disabled + .lbl_rdio { background: url("https://dev-contents-image.twayair.com//backoffice/common/ico_radio_dis.png") no-repeat 0px 50%; color: #888; }

.radio:disabled:checked + .lbl_rdio, .radio:disabled.checked + .lbl_rdio { background: url("https://dev-contents-image.twayair.com//backoffice/common/ico_radio_on_dis.png") no-repeat 0px 50%; }

.radio + .label { margin-right: 30px; }

.radio + .label + .tool_set { margin-left: -27px; margin-right: 30px; }

.wrap_add { margin-top: 10px; overflow: hidden; }

.wrap_add:first-child { margin-top: 0; }

.wrap_add .add, .wrap_add .del, .wrap_add .reload { display: inline-block; vertical-align: middle; font-size: 25px; width: 30px; text-align: center; margin-left: 5px; cursor: pointer; }

.wrap_add .reload { font-size: 22px; color: #555; }

.wrap_add .add { color: #cf3232; }

.wrap_add .del { color: #7ba34c; }

.wrap_add .add_info { display: inline-block; margin-left: 15px; margin-right: 15px; color: #555; }

.wrap_add .wrap_ipt { box-sizing: border-box; width: 50%; }

.wrap_add .sbj { display: inline-block; width: 100px; }

/* page guide */
.w100 { width: 100%; box-sizing: border-box; }

.w50 { width: 50%; box-sizing: border-box; }

.ht { height: auto; }

.mr4 { margin-right: 4px; }

.mr10 { margin-right: 10px !important; }

.mr20 { margin-right: 20px !important; }

.ml0 { margin-left: 0px !important; }

.ml4 { margin-left: 4px !important; }

.ml10 { margin-left: 10px !important; }

.ml20 { margin-left: 20px !important; }

.mt0 { margin-top: 0px !important; }

.mt5 { margin-top: 5px !important; }

.mt3 { margin-top: 3px !important; }

.mt10 { margin-top: 10px !important; }

.mt20 { margin-top: 20px !important; }

.mt30 { margin-top: 30px !important; }

.mt50 { margin-top: 50px !important; }

.mb0 { margin-bottom: 0px; }

.mb10 { margin-bottom: 10px; }

.mb50 { margin-bottom: 50px; }

.p0 { padding: 0px !important; }

.p10 { padding: 10px; }

.pt0 { padding-top: 0px !important; }

.pt5 { padding-top: 5px !important; }

.pt10 { padding-top: 10px !important; }

.pt20 { padding-top: 20px !important; }

.pt40 { padding-top: 40px !important; }

.pb20 { padding-bottom: 20px !important; }

.pb40 { padding-bottom: 40px !important; }

.bt_lg { border-top: 1px solid #e5e5e5; }

.bt_dg { position: relative; }

.bt_dg:before { content: ""; display: block; width: 100%; height: 1px; position: absolute; top: 0; left: 0; border-top: 1px solid #888; }

.bb_dg { border-bottom: 1px solid #888 !important; }

.bb_lg { border-bottom: 1px solid #e5e5e5 !important; }

.bg_gray { background: #f6f6f6; }

.ta_c { text-align: center !important; }

.ta_l { text-align: left !important; }

.va_t { vertical-align: top !important; }

.dp_ib { display: inline-block !important; }

.dp_b { display: block !important; }

.cr_b { clear: both; }

.f_lft { float: left; }

.f_lft button + button { margin-right: 10px; }

.f_rig { float: right; }

.f_rig button + button { margin-left: 10px; }

.col_red { color: #cf3232 !important; }

.bg_red { width: 100%; padding: 2px 5px; background-color: #cf3232; color: #fff; }

.elps { width: 90%; margin: auto; text-align: center; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

html { height: 100%; }

.img_tbl { max-width: 120px; max-height: 120px; width: auto; height: auto; margin: 5px 0; }

.login { background-color: #f6f6f6; position: relative; height: 100%; }

.login_area { width: 640px; margin: 50px 0; text-align: center; padding: 50px; background-color: #fff; position: absolute; top: 0; left: 50%; transform: translate(-50%, 0); }

.login_area h2 { display: block; text-align: center; font-size: 24px; color: #333; font-weight: bold; }

.login_area h2 + section { margin-top: 30px; }

.login_area h2 + section + .btns { margin-top: 50px; }

.login_area h3 { display: block; text-align: center; font-size: 18px; color: #333; margin-bottom: 15px; }

.login_area.bg { overflow: hidden; padding: 70px; width: 580px; position: absolute; top: 20%; left: 50%; transform: translate(-50%, -20%); }

.login_area.bg:after { display: block; content: ""; position: absolute; top: 0; border-bottom: 800px solid #cf3232; border-left: 250px solid transparent; border-right: 0 solid transparent; z-index: 0; width: 800px; }

.login_area .bx_login { z-index: 1; padding: 30px 35px; position: relative; border: 1px solid #cf3232; background-color: #fff; }

.login_area .bx_login .login_tit { overflow: hidden; }

.login_area .bx_login .login_tit .logo { float: left; background: url("https://dev-contents-image.twayair.com//backoffice//common/logo_r_s1.png") no-repeat 0 0; width: 80px; height: 40px; }

.login_area .bx_login .login_tit h1 { float: right; font-size: 18px; padding-top: 7px; }

.login_area .bx_login .cnt_login { margin: 50px 0 10px 0; text-align: left; }

.login_area .bx_login .login_set { overflow: hidden; }

.login_area .bx_login .login_set a { color: #cf3232; }

.login_area .cnt_login1 { margin: 50px 0; text-align: left; }

.login_area .cnt_login2 { margin: 30px 0; text-align: left; }

.login_area .subinfo { margin-top: 5px; font-size: 13px; color: #333; }

.login_area .id_ipt { box-sizing: border-box; border: 1px solid #ccc; padding: 0 20px; margin: 5px 0; text-align: left; flex-wrap: wrap; display: inline-flex; }

.login_area .id_ipt li { box-sizing: border-box; display: inline-flex; flex-grow: 1; flex-direction: column; justify-content: center; }

.login_area .id_ipt li:first-child { padding-right: 10px; flex-grow: 0; }

.login_area .id_ipt li input { height: 36px; width: 100%; border: 0; }

.copyright { font-size: 14px; text-align: center; position: fixed; bottom: 10px; width: 100%; }

/*# sourceMappingURL=style.css.map */
