<!doctype html>
<html lang="ko">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>T-Way 항공사 | 항공권 예매</title>
<link rel="stylesheet" type="text/css" href="../../css/tagency/reset.css">
<link rel="stylesheet" type="text/css" href="../../css/tagency/slick.css">
<link rel="stylesheet" type="text/css" href="../../css/tagency/layout.css">
<link rel="stylesheet" type="text/css" href="../../css/tagency/common.css">
<link rel="stylesheet" type="text/css" href="../../css/tagency/slick.css">
<link rel="stylesheet" type="text/css" href="../../css/tagency/swiper.css">
<link rel="stylesheet" type="text/css" href="../../css/tagency/jquery.mCustomScrollbar.css">
<link rel="stylesheet" type="text/css" href="../../css/tagency/content.css">
<link rel="stylesheet" type="text/css" href="../../css/tagency/plugin.css">
<link rel="stylesheet" type="text/css" href="../../css/tagency/main.css">
<link rel="stylesheet" type="text/css" href="../../css/tagency/booking.css">
<link rel="stylesheet" type="text/css" href="../../css/tagency/kjh.css">
<link rel="stylesheet" type="text/css" href="../../css/tagency/pjy.css">
<link rel="stylesheet" type="text/css" href="../../css/tagency/jhy.css">
<link rel="stylesheet" type="text/css" href="../../css/tagency/lmy.css">
<link rel="stylesheet" type="text/css" href="../../css/tagency/lhb.css">
<script type="text/javascript" src="../../js/tagency/jquery-1.12.4.js"></script>
<script type="text/javascript" src="../../js/tagency/jquery.mCustomScrollbar.js"></script>
<script type="text/javascript" src="../../js/tagency/ui.common.js"></script>
</head>

<body>

<!-- 본문 바로가기 --> 
<div class="skip_nav" title="스킵메뉴">
	<a href="#content">본문 바로가기</a>
</div>
<!--// 본문 바로가기 -->

<div id="wrap">

	<!-- Header -->
	<header id="header">
		<!-- GNB -->
		<div class="header">
			<div class="header_inner">
				<!-- Logo -->
				<a href="#none">
					<h1 class="top_logo">티웨이 항공사</h1>
				</a>
				<!--// Logo -->
				<!-- Header Menu -->
				<div class="util_wrap">
					<!-- 언어 선택 -->
					<div class="sel_lang_wrap">
						<ul>
							<li>
								<a href="#none">로그인</a>
							</li>
							<li>
								<a href="#none">회원가입</a>
							</li>
							<li>
								<a href="#none">대한민국</a>
								<ul class="sel_list">
									<li>미국</li>
									<li>중국</li>
									<li>일본</li>
								</ul>
							</li>
							<li>
								<a href="#none">한국어</a>
								<ul class="sel_list">
									<li>English</li>
									<li>Chinese</li>
									<li>Japanese</li>
								</ul>
							</li>
						</ul>
					</div>
					<!-- 언어 선택 -->
				</div>
				<!--// Header Menu -->
				<!-- GNB -->
				<div class="gnb">
					<ul>
						<li>
							<a href="#none" class="dep1">
								<span>항공권예매</span>
							</a>
						</li>
						<li>
							<a href="#none" class="dep1">
								<span>예약관리</span>
							</a>
						</li>
						<li>
							<a href="#none" class="dep1">
								<span>업무요청</span>
							</a>   
						</li>
						<li>
							<a href="#none" class="dep1">
								<span>수입관리</span>
							</a>   
						</li>
						<li>
							<a href="#none" class="dep1">
								<span>공지사항</span>
							</a>   
						</li>
						<li>
							<a href="#none" class="dep1">
								<span>마이페이지</span>
							</a>   
						</li>
					</ul>
					<div class="dep2">
						<ul>
							<li>
								<a href="#none"><span>업무요청 신청</span></a>
								<a href="#none"><span>업무요청 조회</span></a>
							</li>
							<li>
								<a href="#none"><span>업무요청 신청</span></a>
								<a href="#none"><span>업무요청 조회</span></a>
							</li>
			                <li>
								<a href="#none"><span>업무요청 신청</span></a>
								<a href="#none"><span>업무요청 조회</span></a>
							</li>
							<li>
								<a href="#none"><span>Credit History</span></a>
								<a href="#none"><span>Credit 환불요청 관리</span></a>
								<a href="#none"><span>현금영수증 관리</span></a>
								<a href="#none"><span>실적조회</span></a>
							</li>
							<li>
								<a href="#none"><span>회원 공지사항</span></a>
								<a href="#none"><span>비정상운항 안내</span></a>
								<a href="#none"><span>유류할증료 안내</span></a>
								<a href="#none"><span>서식자료실</span></a>
							</li>
							<li>
								<a href="#none"><span>정보조회/수정</span></a>
								<a href="#none"><span>계좌정보 수정</span></a>
								<a href="#none"><span>모객현황 업로드</span></a>
								<a href="#none"><span>1:1 문의</span></a>
							</li>
						</ul>
					</div>
				</div>
				<!--// GNB -->
			</div>    
		</div>
		<!--// GNB -->
	
		<!-- Nav Path -->
		<div class="path_wrap">
			<div class="path">
				<ul>
					<!-- Home -->
					<li>
						<a href="#none" class="home">HOME</a>
					</li>
					<!--// Home -->
					<!-- Depth1 -->
					<li>
						<a href="#none" class="dep">서비스안내</a>
						<ul class="menu">
							<li><a href="#none">dep1 menu</a></li>
							<li><a href="#none">dep1 menu</a></li>
							<li><a href="#none">dep1 menu</a></li>
						</ul>
					</li>
					<!--// Depth1 -->
					<!-- Depth2 -->
					<li>
						<a href="#none" class="dep">수하물 보내기</a>
						<ul class="menu">
							<li><a href="#none">dep2 menu</a></li>
							<li><a href="#none">dep2 menu</a></li>
							<li><a href="#none">dep2 menu</a></li>
						</ul>
					</li>
					<!--// Depth2 -->
					<!-- Depth3 -->
					<li>
						<a href="#none" class="dep">무료수하물</a>
						<ul class="menu">
							<li><a href="#none">dep3 menu</a></li>
							<li><a href="#none">dep3 menu</a></li>
							<li><a href="#none" class="on">무료수하물</a></li>
						</ul>
					</li>
					<!--// Depth3 -->
				</ul>
			</div>
		</div>
		<!-- Nav Path -->

	</header>
	<!--// Header -->

	<!-- Contnent -->
	<div id="container">
		<div id="content" class="content">
			<!-- 컨텐츠 영역 -->
			<!--// 컨텐츠 영역 -->
		</div>
	</div>
	<!--// Contnent -->

	<!-- Footer -->
    <footer id="footer">
            
        <!-- Footer Info -->
        <div class="f_info">
            <!-- Booking Info -->
            <div class="booking_center">
                <span class="booking_tit">티웨이항공 예약센터</span>
                <span class="booking_time">KST 07:00 ~ KST 21:00</span>
                <span class="booking_tel">1688 - 8686</span>
            </div>
            <!--// Booking Info -->
            <!-- SNS Info -->
            <div class="f_link_sns">
                <a href="#none" class="link_fb">페이스북</a>
                <a href="#none" class="link_ins">인스트그램</a>
                <a href="#none" class="link_ut">유튜브</a>
            </div>
            <!-- SNS Info -->
        </div>
        <!--// Footer Info -->

        <!-- Footer Link -->
        <div class="f_menu_wrap">
            <div class="f_menu">
                <ul>
                    <li>
                        <strong>회사소개</strong>
                        <dl class="dep2">
                            <dd>티웨이항공 소개</dd>
                            <dd>투자정보</dd>
                            <dd>채용안내</dd>
                        </dl>
                        <dl class="dep2">
                            <dd>광고홍보 영상</dd>
                            <dd>사회공헌</dd>
                            <dd>보도자료</dd>
                        </dl>
                    </li>
                    <li>
                        <strong>규정 및 약관</strong>
                        <dl class="dep2">
                            <dd>여객운송약관</dd>
                            <dd>수수료약관</dd>
                        </dl>
                        <dl class="dep2">
                            <dd>홈페이지이용약관</dd>
                            <dd>개인정보처리방침</dd>
                        </dl>
                    </li>
                    <li>
                        <strong>기타</strong>
                        <dl class="dep2">
                            <dd>항공교통이용자 서비스 계획</dd>
                            <dd>피해구제계획</dd>
                        </dl>
                    </li>
                    <li>
                        <strong>여행사/AGENT</strong>
                        <dl class="dep2">
                            <dd>T’Agency</dd>
                            <dd>Taiwan</dd>
                        </dl>
                        <dl class="dep2">
                            <dd>Japan</dd>
                            <dd>Vietnam</dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>
        <!--// Footer Link -->

        <!-- Copyright -->
        <div class="f_com_info">
            <!-- Footer Logo -->
            <div class="f_logo">
                <a href="#none">
                    <img src="../../images/www/common/f_logo.png" alt="티웨이항공">
                </a>
            </div>
            <!--// Footer Logo -->
            <!-- Company Info -->
            <div class="f_com_addr">
                <p>
                    <span>대표이사. 정홍근</span>
                    <span>사업자등록번호. 101-81-94800</span>
                    <span>주소. 서울시 강서구 하늘길 210 국제화물청사 3층</span>
                </p>
                <p>
                    <span>통신판매업신고번호. 2013-서울성동-0169</span>
                    <span>개인정보 관리책임자. 경영본부장 김형이</span>
                </p>
                <copyright>COPYRIGHT ⓒ 2018 t'way AIR ALL RIGHTS RESERVED.</copyright>
            </div>
            <!--// Company Info -->
            <!-- Family Site Link -->
            <div class="quick_flink">
                <a href="#none">Family site</a>
                <ul class="list_link">
                    <li>Family site1</li>
                    <li>Family site1</li>
                    <li>Family site1</li>
                    <li>Family site1</li>
                    <li>Family site1</li>
                </ul>
            </div>
            <!--//  Family Site Link -->
        </div>
        <!--// Copyright -->

    </footer>
    <!-- Footer -->

</div>

</body>
</html>
